@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model  IEnumerable<DEMO1.Models.Students>
@{
    ViewData["Title"] = "Index Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3>Contact Page</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(ModelItem => item.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.StudentAge)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>